{
    "env": {
		"browser": true,
        "es6": true,
        "commonjs": true
    },
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"modules": true,
			"jsx": true
		}
    },
    "parser": "babel-eslint",
	"plugins": [
		"react",
		"babel"
	],
	"rules": {
		"react/jsx-uses-react": "error",
		"react/jsx-uses-vars": "error"
	},
    "extends": "dimitarnestorov"
}